
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.navbar {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-nav {
    font-size: 1em;
}

.link {
    color: #434db3 !important;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    border-bottom: 2px solid transparent;
}
.link:hover {
    text-decoration: none;
    border-bottom: 2px solid #434db3;
}
.dropdown-menu {
    min-width: auto;
    border-top: 0px;
}

.dropdown-menu a {
    color: #434db3;
}

.navbar-brand {
    font-size: xx-large
}
.searchbox {
    font-family: FontAwesome;
}